{{#comp-rental-filter
    filter=(action "filterByCity")
    as |filteredResults|}}
    <ul class="results">
        {{#each filteredResults as |rental|}}
            <li>{{comp-rental rental=rental}}</li>
        {{/each}}
    </ul>
{{/comp-rental-filter}}
